.contaynerForm{
    font-size: 20px;
    color: rgb(244, 254, 255);
}
.text-with-glow {
    color: #FFD700; 
    text-shadow: 0 0 5px transparent; 
    animation: glow 10.5s ease-in-out infinite alternate, sparkles 0.5s linear infinite; 
}

.text-with-glow {
    color: #FFD700; 
    text-shadow: 0 0 2px transparent; 
    animation: glow 1.9s ease-in-out infinite alternate, sparkles 3s linear infinite; 
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px transparent; 
    }
    100% {
        text-shadow: 0 0 15px #f8f4df; 
    }
}

@keyframes sparkles {
    0% {
        text-shadow: 0 0 5px transparent; 
    }
    50% {
        text-shadow: 0 0 10px #ece9d8, 0 0 20px #FFD700, 0 0 30px #FFD700; 
    }
    100% {
        text-shadow: 0 0 5px transparent; 
    }
}